<h1>About Goodnight, King</h1>
 <div class="flex justify-center p-3">
        <div class="rounded-lg shadow-md bg-white max-w-sm hover:shadow-lg">
            <a href="#!">
                <img class="rounded-t-lg" src="https://pixabay.com/get/g8d581de95a573af381eff95a905fb37ac21d0bf2568df8b7c7e2516b5124e4104336637bd4a8af8d5ea2410ae2348d3eeea34f6abb149f0ef00a996d3ce5cf25c5be0247cccd2f4e54a0a6170d61cb89_640.jpg" alt=""/>
            </a>
            <div class="p-3">
                <h5 class="text-gray-900 text-md font-medium mb-2"></h5>
                <p class="text-gray-700 text-base mb-4">
                    Goodnight King or GNK, is a text-messaging app for the kings.
    One king can express their support for another by queueing up a weekly generated goodnight message or personalizing
    one themselves. As plenty of kings differ in their bedtimes, the messages and prompts can be scheduled to send prior to each king's
    sleepytimes, timing a perfect goodnight to each king to ensure maximum quality sleepy joe hours.
                </p>
                <a href="/homepage" class="button-primary">Homepage</a>
                <a href="/user-dashboard" class="button-primary">Dashboard</a>
            </div>
        </div>
    </div>
</div>