<h1>Welcome to Goodnight, King</h1>
<p>Goodnight King or GNK, is a text-messaging app for the kings.
    One king can express their support for another by queueing up a weekly generated goodnight message or personalizing
    one themselves. As plenty of kings differ in their bedtimes, the messages and prompts can be scheduled to send prior to each king's
    sleepytimes, timing a perfect goodnight to each king to ensure maximum quality sleepy joe hours. </p>