{{!-- christina testing routes --}}

<h1>Welcome to the homepage</h1>
<nav>
    {{!-- Add links to Log-in, Sign-up, and About page --}}
    <a href="/login">Log-in</a>
    <a href="/signup">Sign-Up</a>
    <a href="/about">About</a>
</nav>