<main>
    
    <section class="d-flex flex-column">
        <div class="jumbotron m-2 p-5 d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-1 ">Goodnight, King</h1>
            <p class="lead">You deserve it.</p>
            <img id="crown-img" src="assets/images/gnk-logo-proto-01.png" alt="graphic of a crown that wobbles when hovered" width="275" height="175">
            <hr class="my-3">
            <p class="fs-4 fst-italic">"The least we each ought to do for someone who treats us like a king or a queen is to treat them like a prince or a princess."
                -Mokokoma Mokhonoana.</p>
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="/login" role="button">Log in</a>
            </p>
            <p>Don't have an account?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
            </p>
        </div>
    </section>

    
    
    
    
</main>
