{{!-- Christina- simple sign up page to tie to routes --}}

<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Sign Up</button>
</form>