<h1>Welcome to your dashboard {{user.first_name}}!</h1>

<div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f3e0.svg" width="70">
                        <div class="d-flex flex-column ml-2"><span>Homepage</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>Return back to the homepage.</h6>
                    <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><p><a href="/homepage">Click Here</a></p><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f4ac.svg" width="70">
                        <div class="d-flex flex-column ml-2"><span>Chats</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>Check, send and reply to messages</h6>
                    <div class="d-flex justify-content-between install mt-3"><span>Un-read Chats(0)</span><span class="text-primary"><p><a href="/user/chats">Click Here</a></p><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f4e4.svg" width="70">
                        <div class="d-flex flex-column ml-2"><span>Create message</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>Create a new message to send to one of your Kings or Queens.</h6>
                    <div class="d-flex justify-content-between install mt-3"><span>Un-read Messages(0)</span><span class="text-primary"><p><a href="/user/message">Click Here</a></p><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/2699.svg" width="70">
                        <div class="d-flex flex-column ml-2"><span>Profile</span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>Edit and manage profile settings.</h6>
                    <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><p><a href="/user/profile">Click Here</a></p><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            {{!-- <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="" width="70">
                        <div class="d-flex flex-column ml-2"><span>filler for now</span><span class="text-black-50">blahblah</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>gdsagefasrefsrgfgfhjdfgjdgjffg</h6>
                    <div class="d-flex justify-content-between install mt-3"><span class="text-primary"><p><a href="#">Default link</a></p><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div> --}}

        </div>
    </div>
    
    